# Fichier de configuration
tags
.gdbinit
.ycm_extra_conf.py

# Fichiers binaires
compressor-0
*.o
.fuse*

# Fichiers temporaires ou de sauvegardes
*.d
*.swp
*~
*.log
*.svg
out/
gmon.out

# Documentation
html/
latex/
